<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	</head>
	<body>
		<h1 style="text-align: center;">首页</h1>
		<pre><%= JSON.stringify(session) %></pre>
		<p>
			<% if(locals.message){ %>
				<span><%= locals.message %></span>
			<% } %>
		</p>
		<form>
			<div class="form-group">
				<label for="file">选择头像</label>
				<input type="file" name="avatar" class="form-control-file" id="file">
			</div>
			<div class="form-group">
				<label for="file">头像预览</label>
				<img id="avatar_view" class="form-control" style="width: 30%;" src="" >
			</div>
			<div class="form-group">
				<label for="name">名字</label>
				<input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="请输入名字">
				<small class="form-text text-muted">填写之后不能更改</small>
			</div>
			<div class="form-group">
				<label for="category">类别</label>
				<select class="form-control" id="category" name="category">
					<option value="ww">汪汪</option>
					<option value="mm">喵喵</option>
				</select>
				<small class="form-text text-muted">选择之后不能更改</small>
			</div>
			<div class="form-group">
				<label for="varieties">品种</label>
				<select class="form-control" id="varieties" name="varieties">
					<option value="td">泰迪</option>
					<option value="kj">柯基</option>
					<option value="jm">金毛</option>
					<option value="jm">中华田园</option>
					<option value="cc">串串</option>
				</select>
				<small class="form-text text-muted">选择之后不能更改</small>
			</div>
			<div class="form-group">
				<label for="birthday">生日</label>
				<input type="email" class="form-control" id="birthday" aria-describedby="emailHelp" placeholder="请输入生日">
				<small class="form-text text-muted">填写之后不能更改</small>
			</div>
			<button type="button" class="btn btn-primary">添加</button>
		</form>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="/javascripts/lib.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script type="text/javascript">

		$('#birthday').flatpickr({
	        language:  'zh-CN',
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
	    });

		fetch('/test/fetch/14?name=nana', {
			method: 'post',
			// headers: {
			// 	'Content-Type': 'application/json'
			// },
			body: JSON.stringify({
				age: 100
			})
		}).then(response => {
			let contentType = response.headers.get('content-type')
			if (contentType.includes('application/json')) {
				return response.json().then(json => {
					if (response.ok) {
						return json
					} else {
						return Promise.reject(Object.assign({}, json, {
							status: response.status,
							statusText: response.statusText
						}))
					}
				})
			} else if (contentType.includes('text/html')) {
				return response.text().then(text => {
					if (response.ok) {
						return json
					} else {
						return Promise.reject({
							status: response.status,
							statusText: response.statusText,
							err: text
						})
					}
				})
			} else {
				throw new Error(`Sorry, content-type ${contentType} not supported`)
			}
		})
		.then(data => console.log(data))
		.catch(error => console.log(error))

		var oInput = document.querySelector('#file');
		oInput.onchange = function upload(){
			var files = !!this.files ? this.files : [];
			var fd = new FormData();
			fd.append('avatar', files[0]);

			__.fetch('/upload', {
				method: 'post',
				body: fd
			})
			.then(res => {
				console.log(res)
				let pic = document.querySelector('#avatar_view')
				if (pic) {
					pic.setAttribute('src', res.data.filename)
					pic.setAttribute('data-src', res.data.filename)
				}
			})
			.catch(error => console.log(error))
		}
	</script>
</html>
