<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
		<link href="/vendor/toastr/toastr.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
		<!-- airbnb -->
		<style type="text/css">
		.toast-middle-center {
			top: 50%;
		    right: 50%;
		    transform: translate(50%, -50%);
		}
		.height40 {
			height: 40px;
		}
		</style>
	</head>
	<body>
		<h1 style="text-align: center;">首页</h1>
		<div style="overflow: scroll;">
			<%= JSON.stringify(session) %>
		</div>
		<p>
			<% if(locals.message){ %>
				<span><%= locals.message %></span>
			<% } %>
		</p>
		<form id="myform">
			<div class="form-group">
				<label for="file">选择头像</label>
				<input type="file" name="avatar" class="form-control-file" id="file">
			</div>
			<div class="form-group">
				<label for="file">头像预览</label>
				<img id="avatar_view" class="form-control" style="width: 30%;" src="" >
			</div>
			<div class="form-group">
				<label for="name">名字</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="请输入名字">
				<small class="form-text text-muted">填写之后不能更改</small>
			</div>
			<div class="form-group">
				<label for="category">类别</label>
				<select class="form-control" id="category" name="category">
					<!-- <option value="ww">汪汪</option>
					<option value="mm">喵喵</option> -->
				</select>
				<small class="form-text text-muted">选择之后不能更改</small>
			</div>
			<div class="form-group">
				<label for="varieties">品种</label>
				<select class="form-control" id="varieties" name="varieties">
					<!-- <option value="td">泰迪</option>
					<option value="kj">柯基</option>
					<option value="jm">金毛</option>
					<option value="jm">中华田园</option>
					<option value="cc">串串</option> -->
				</select>
				<small class="form-text text-muted">选择之后不能更改</small>
			</div>
			<div class="form-group">
				<label for="birthday">生日</label>
				<input type="date" data-allow-input="true" class="form-control height40" id="birthday" name="birthday" placeholder="请输入生日">
				<small class="form-text text-muted">填写之后不能更改</small>
			</div>
			<button type="button" class="btn btn-primary" id="petAdd">添加</button>
		</form>
	</body>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript" src="/javascripts/lib.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://npmcdn.com/flatpickr/dist/l10n/zh.js"></script>
	<script type="text/javascript" src="/vendor/toastr/toastr.min.js"></script>
	<script type="text/javascript">

		// datetimepicker
		// flatpickr
		$('#birthday').flatpickr({
			locale: 'zh',
			defaultDate: new Date()
	    });

	    toastr.options.timeOut = 1000
		toastr.options.preventDuplicates = true
		toastr.options.positionClass = 'toast-middle-center'

		function replaceSelectOptions (el, arr, attr) {
			let tpl = arr.map(item => {
				return `<option ${item.active?'selected':''} value="${item.value}" ${
					((i) => {
						let val = item.variety && item.variety.length > 0 ? encodeURIComponent(JSON.stringify(item.variety)) : '';
						return (attr || 'data-sub') + '=' + val
					})(item)
				}>${item.label}</option>`
			})
			el.innerHTML = tpl.join('')
		}

		function replaceSelectOptionsAccordingToParent (child, parent, attr) {
			let value = $(parent).val()
			let $selected = $(parent).find('option[value="'+ value +'"]')
			let varieties = JSON.parse(decodeURIComponent($selected.attr(attr || 'data-sub')))
			replaceSelectOptions(child, varieties, attr)
		}

		__.fetch('/pet/category', {
			method: 'get'
		}).then(res => {
			console.log('then', res)
			if (res.ok) {
				let category = res.data
				replaceSelectOptions($('#category')[0], category)
				replaceSelectOptionsAccordingToParent($('#varieties')[0], $('#category')[0])
				$('#category').bind('change', function(){
					replaceSelectOptionsAccordingToParent($('#varieties')[0], this)
				})
			} else {
				toastr.info('获取宠物类别失败')
			}
		}).catch(err => {
			console.log('catch', err)
			toastr.info('服务器连接异常，请稍后再试')
		})

		var oInput = document.querySelector('#file');
		oInput.onchange = function upload(){
			var files = !!this.files ? this.files : [];
			var fd = new FormData();
			fd.append('avatar', files[0]);

			__.fetch('/upload', {
				method: 'post',
				body: fd
			})
			.then(res => {
				console.log(res)
				let pic = document.querySelector('#avatar_view')
				if (pic && res.ok) {
					pic.setAttribute('src', res.data.filename)
					pic.setAttribute('data-src', res.data.filename)
				}
			})
			.catch(error => console.log(error))
		}
		
		$('#petAdd').click(function(){
			let avatar = document.querySelector('#avatar_view').getAttribute('data-src')
			if (!avatar) {
				toastr.info('请添加头像')
				return false
			}
			if (!$('#name').val()) {
				toastr.info('请输入名字')
				return false
			}
			if (!$('#category').val()) {
				toastr.info('请选择类别')
				return false
			}
			if (!$('#varieties').val()) {
				toastr.info('请选择品种')
				return false
			}
			if (!$('#birthday').val()) {
				toastr.info('请填写生日')
				return false
			}
			let fd = new FormData(document.querySelector('#myform'))
			// 没有name属性的输入框不会加入FormData数据里
			let date = $('#birthday').val().split('-')

			// 设置了'Content-Type': 'application/x-www-form-urlencoded'的formdata
			//  数据会被装进body里，否则req.body取不到，数据没有存在请求的body里面

			// 设置了'Content-Type': 'application/x-www-form-urlencoded'的formdata 
			// 会改变第一个参数的数据结构，不管是文件，还是字符串，

			// 想要获取formdata 提交的数据可以用两种方式，
			// 添加'Content-Type': 'application/x-www-form-urlencoded'，比较麻烦
			// 后台使用multer 中间件，提交的数据会被装进body里面

			fd.set('avatar', document.querySelector('#avatar_view').getAttribute('data-src'))
			fd.set('birthday', new Date(parseInt(date[0]), parseInt(date[1]) - 1, parseInt(date[2])).getTime())
			__.fetch('/pet/add', {
				method: 'post',
				body: fd
			}).then(res => {
				console.log(res)
			}).catch(err => {
				console.log(err)
			})
		})
	</script>
</html>
