<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>登录</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.col-form-label {
			text-align: right;
		}
	</style>
	<!--
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	-->
</head>
<body>
	<pre><%= JSON.stringify(session) %></pre>
	<div class="container">
		<form>
			<div class="form-group row">
				<label for="phone" class="col-sm-4 col-form-label">手机号码</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="username" placeholder="手机号 / Email" value="">
				</div>
			</div>
			<div class="form-group row">
				<label for="pwd" class="col-sm-4 col-form-label">密码</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" id="pwd" placeholder="设置登录密码">
				</div>
			</div>
			<div class="form-group row">
				<label for="code" class="col-sm-4 col-form-label">验证码</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="code" placeholder="请输入计算结果">
				</div>
				<div class="col-sm-4">
					<a href="javascript:void(0);">
						<img src="/captcha" id="codePic">
					</a>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label"></label>
				<div class="col-sm-4">
					<button type="button" id="login" class="btn btn-primary">login</button>
				</div>
			</div>
		</form>
	</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
	$('#codePic').bind('click', function(){
		var oldSrc = $(this).attr('src')
		$(this).attr('src', oldSrc.split('?')[0] + '?' + new Date().getTime());
	})
	$('#login').click(function(e){
		e.preventDefault()
		if (!$('#username').val().trim()) {
			alert('请输入手机号！')
			return false;
		}
		if (!$('#pwd').val().trim()) {
			alert('请输入密码！')
			return false;
		}
		if (!$('#code').val().trim()) {
			alert('请输入验证码！')
			return false;
		}
		$.post('/users/login', {
			username: $('#username').val().trim(),
			password: $('#pwd').val().trim(),
			captcha: $('#code').val().trim()
		}).done(function (res) {
			console.log(res)
			alert(res.msg)
			if (res.ok) {
				location.href = '../'
			}
		}).fail(function (err) {
			alert('网络连接异常，请重试！')
		})
	})
</script>
</body>
</html>